{% extends "base.html" %}
{% block content %}
  <h1>Login</h1>
  <form method="POST" novalidate>
    {{ form.hidden_tag() }}

    <div>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}
      {% for e in form.email.errors %}<div class="flash danger">{{ e }}</div>{% endfor %}
    </div>

    <div style="margin-top:.5rem;">
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
      {% for e in form.password.errors %}<div class="flash danger">{{ e }}</div>{% endfor %}
    </div>

    <div style="margin-top:.5rem;">
      <label>{{ form.remember() }} {{ form.remember.label.text }}</label>
    </div>

    <div style="margin-top:1rem;">
      {{ form.submit(class_="btn") }}
    </div>
  </form>
{% endblock %}
